<!-- <div class="signup-container">
    <div *ngFor="let producto of productos">
        <p>{{ producto.nombre }} - {{ producto.precio }}</p>
      </div>
    <p>hola</p>
</div> -->

<div class="signup-container">
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
    <p>hola</p>
</div>


