<!-- Home -->
<section class="home" id="home">
    <div class="home-text">
      <h1>
        <span>Tu </span>Comodidad <br />
        Es Nuestra <span>Felicidad</span>
      </h1>
      <p>
        Descubre muebles que transformarán tu hogar en un paraíso de <br />
        confort y estilo.
      </p>
      <a href="#shop" class="btn">Ver Más</a>
    </div>
  </section>
<!-- Shop -->

<section class="shop" id="shop">
  <div class="heading">
    <span>Nueva Colección</span>
    <h2>Más Vendidos</h2>
  </div>
  <!-- Content -->
  <div class="shop-container">
    <!-- Box 1 -->
    <div class="box">
      <div class="box-img">
        <img src="assets/p1.jpg" alt="Silla Elegance" />
      </div>
      <div class="title-price">
        <h3>Silla Elegance</h3>
        <div class="stars">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star-half"></i>
        </div>
      </div>
      <span>$19.500</span>
      <i class="bx bx-cart"></i>
    </div>
    <!-- Box 2 -->
    <div class="box">
      <div class="box-img">
        <img src="assets/p2.jpg" alt="Silla BellaVista" />
      </div>
      <div class="title-price">
        <h3>Silla BellaVista</h3>
        <div class="stars">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star-half"></i>
        </div>
      </div>
      <span>$15.000</span>
      <i class="bx bx-cart"></i>
    </div>
    <!-- Box 3 -->
    <div class="box">
      <div class="box-img">
        <img src="assets/p3.jpg" alt="Silla Harmony" />
      </div>
      <div class="title-price">
        <h3>Silla Harmony</h3>
        <div class="stars">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star-half"></i>
        </div>
      </div>
      <span>$22.999</span>
      <i class="bx bx-cart"></i>
    </div>
    <!-- Box 4 -->
    <div class="box">
      <div class="box-img">
        <img src="assets/p4.jpg" alt="Silla Luna" />
      </div>
      <div class="title-price">
        <h3>Silla Luna</h3>
        <div class="stars">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star-half"></i>
        </div>
      </div>
      <span>$17.999</span>
      <i class="bx bx-cart"></i>
    </div>
    <!-- Box 5 -->
    <div class="box">
      <div class="box-img">
        <img src="assets/p5.jpg" alt="Silla Zenith" />
      </div>
      <div class="title-price">
        <h3>Silla Zenith</h3>
        <div class="stars">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star-half"></i>
        </div>
      </div>
      <span>$21.000</span>
      <i class="bx bx-cart"></i>
    </div>
    <!-- Box 6 -->
    <div class="box">
      <div class="box-img">
        <img src="assets/p6.jpg" alt="Silla ComfortPlus" />
      </div>
      <div class="title-price">
        <h3>Silla ComfortPlus</h3>
        <div class="stars">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star-half"></i>
        </div>
      </div>
      <span>$16.000</span>
      <i class="bx bx-cart"></i>
    </div>
  </div>
</section>

<!-- Más vendidos -->
<!-- New Arrival -->
<section class="new" id="new">
  <div class="heading">
    <span>Nueva Colección</span>
    <h2>Novedades</h2>
  </div>
  <!-- Content -->
  <div class="new-container">
    <!-- Box 1 -->
    <div class="box">
      <div class="box-img">
        <img src="assets/new1.jpg" alt="Silla DreamWave" />
      </div>
      <div class="title-price">
        <h3>Silla DreamWave</h3>
        <div class="stars">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star-half"></i>
        </div>
      </div>
      <span>$26.000</span>
      <i class="bx bx-cart"></i>
    </div>
    <!-- Box 2 -->
    <div class="box">
      <div class="box-img">
        <img src="assets/new2.jpg" alt="Silla SmartSiesta" />
      </div>
      <div class="title-price">
        <h3>Silla SmartSiesta</h3>
        <div class="stars">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star-half"></i>
        </div>
      </div>
      <span>$18.000</span>
      <i class="bx bx-cart"></i>
    </div>
    <!-- Box 3 -->
    <div class="box">
      <div class="box-img">
        <img src="assets/new3.jpg" alt="Silla CozyHaven" />
      </div>
      <div class="title-price">
        <h3>Silla CozyHaven</h3>
        <div class="stars">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star-half"></i>
        </div>
      </div>
      <span>$19.999</span>
      <i class="bx bx-cart"></i>
    </div>
  </div>
</section>