<!-- Home -->
<section class="home" id="home">
    <div class="home-text">
      <h1>
        <span>Tu </span>Comodidad <br />
        Es Nuestra <span>Felicidad</span>
      </h1>
      <p>
        Descubre muebles que transformarán tu hogar en un paraíso de <br />
        confort y estilo.
      </p>
      <a routerLink="/productos" class="btn">Ver nuestros productos</a>
    </div>
  </section>
<!-- Shop -->

<section class="shop" id="shop">
  <div class="heading">
    <span>Nueva Colección</span>
    <h2>Más Vendidos</h2>
  </div>
  <!-- Content -->
  <div class="shop-container">
    <!-- Box 1 -->
    <div class="box">
      <div class="box-img">
        <img src="assets/p1.jpg" alt="Silla Elegance" />
      </div>
      <div class="title-price">
        <h3>Silla Elegance</h3>        
      </div>
      <div class="precio-y-carrito">
        <span>$19.500</span>
        <div class="carrito-compras">
          <svg id="cart-vacio" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
          </svg>
        </div>
      </div>
    </div>
    <!-- Box 2 -->
    <div class="box">
      <div class="box-img">
        <img src="assets/p2.jpg" alt="Silla BellaVista" />
      </div>
      <div class="title-price">
        <h3>Silla BellaVista</h3>
      </div>
      <div class="precio-y-carrito">
        <span>$15.000</span>
        <div class="carrito-compras">
          <svg id="cart-vacio" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
          </svg>
        </div>
      </div>
    </div>
    <!-- Box 3 -->
    <div class="box">
      <div class="box-img">
        <img src="assets/p3.jpg" alt="Silla Harmony" />
      </div>
      <div class="title-price">
        <h3>Silla Harmony</h3>
      </div>
      <div class="precio-y-carrito">
        <span>$22.999</span>
        <div class="carrito-compras">
          <svg id="cart-vacio" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
          </svg>
        </div>
      </div>
    </div>
    <!-- Box 4 -->
    <div class="box">
      <div class="box-img">
        <img src="assets/p4.jpg" alt="Silla Luna" />
      </div>
      <div class="title-price">
        <h3>Silla Luna</h3>
      </div>
      <div class="precio-y-carrito">
        <span>$17.999</span>
        <div class="carrito-compras">
          <svg id="cart-vacio" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
          </svg>
        </div>
      </div>
    </div>
    <!-- Box 5 -->
    <div class="box">
      <div class="box-img">
        <img src="assets/p5.jpg" alt="Silla Zenith" />
      </div>
      <div class="title-price">
        <h3>Silla Zenith</h3>
      </div>
      <div class="precio-y-carrito">
        <span>$21.000</span>
        <div class="carrito-compras">
          <svg id="cart-vacio" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
          </svg>
        </div>
      </div>
    </div>
    <!-- Box 6 -->
    <div class="box">
      <div class="box-img">
        <img src="assets/p6.jpg" alt="Silla ComfortPlus" />
      </div>
      <div class="title-price">
        <h3>Silla ComfortPlus</h3>
      </div>
      <div class="precio-y-carrito">
        <span>$16.000</span>
        <div class="carrito-compras">
          <svg id="cart-vacio" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Más vendidos -->
<!-- New Arrival -->
<section class="new" id="new">
  <div class="heading">
    <span>Nueva Colección</span>
    <h2>Novedades</h2>
  </div>
  <!-- Content -->
  <div class="new-container">
    <!-- Box 1 -->
    <div class="box">
      <div class="box-img">
        <img src="assets/new1.jpg" alt="Silla DreamWave" />
      </div>
      <div class="title-price">
        <h3>Silla DreamWave</h3>
      </div>
      <div class="precio-y-carrito">
        <span>$26.000</span>
        <div class="carrito-compras">
          <svg id="cart-vacio" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
          </svg>
        </div>
      </div>
    </div>
    <!-- Box 2 -->
    <div class="box">
      <div class="box-img">
        <img src="assets/new2.jpg" alt="Silla SmartSiesta" />
      </div>
      <div class="title-price">
        <h3>Silla SmartSiesta</h3>
      </div>
      <div class="precio-y-carrito">
        <span>$18.000</span>
        <div class="carrito-compras">
          <svg id="cart-vacio" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
          </svg>
        </div>
      </div>
    </div>
    <!-- Box 3 -->
    <div class="box">
      <div class="box-img">
        <img src="assets/new3.jpg" alt="Silla CozyHaven" />
      </div>
      <div class="title-price">
        <h3>Silla CozyHaven</h3>
      </div>
      <div class="precio-y-carrito">
        <span>$19.999</span>
        <div class="carrito-compras">
          <svg id="cart-vacio" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>