<header>
  <a href="/" class="logo">Haus<span>Mobel</span></a>
  <div class="bx bx-menu" id="menu-icon"></div>

  <ul class="navbar">
    <li><a routerLink="/home">Inicio</a></li>
    <li><a routerLink="/productos">Productos</a></li>
    <li><a routerLink="/nosotros">Nosotros</a></li>
    <li><a routerLink="/contacto">Contacto</a></li>
    <ng-container *ngIf="isLoggedIn(); else loginRegistro">      
      <li class="dropdown" (click)="toggleDropdown()">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bienvenido, Usuario <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
        </svg></a>
        <ul class="dropdown-menu">
          <!-- <li><a routerLink="/carrito">Carrito</a></li> -->
          <li><a (click)="carrito()">Carrito</a></li>
          <li><a (click)="misCompras()">Mis compras</a></li>
          <li role="separator" class="divider"></li>
          <li><a (click)="cerrarSesion()">Cerrar sesión</a></li>
        </ul>
      </li>

      <!-- <li class="dropdown" (click)="toggleCartDropdown()">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
          </svg>
        </a>
        <ul class="dropdown-menu menu2">
          <ng-container *ngIf="itemsEnCarrito.length > 0; else noItems">
            <li *ngFor="let item of itemsEnCarrito">             
            </li>
          </ng-container>
          <ng-template #noItems>
            <li>No hay elementos en el carrito</li>
          </ng-template>
        </ul>
      </li> -->
      
    </ng-container>

    <ng-template #loginRegistro>
      <li><a routerLink="/loguin">Login</a></li>
      <li><a routerLink="/registro">Registro</a></li>
    </ng-template>
  </ul>
</header>
