<div class="signup-container">
    <h1>¡Bienvenidos a Haus Mobel!</h1>
    <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
      <label for="nombre">Nombre:</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        formControlName="usuario"
        required
        placeholder="Ingrese su nombre"
      />

      <label for="email">Correo Electrónico:</label>
      <input
        type="email"
        id="email"
        name="email"
        formControlName="password"
        required
        placeholder="Ingrese su correo electrónico"
      />

      <label for="contrasena">Contraseña:</label>
      <input
        type="password"
        id="contrasena"
        name="contrasena"
        formControlName="password"
        required
        placeholder="Ingrese su contraseña"
      />
      <div class="button-container">
        <button type="submit">Registrarse</button>
      </div>
    </form>
    <p>
      ¿Ya tienes una cuenta? <button (click)="iniciarSesion()">Iniciar Sesión</button>
    </p>
  </div>