<!-- <div class="contenedor-principal-loguin">
    <div class="login-container">
        <h2>Comprar</h2>
        <div class="carrito-panel">
            <p>hola soy la pasarela de pago</p>
            <button (click)="finalizarCompra()" type="button" class="btn btn-secondary">Finalizar compra</button>
        </div>        
      </div>

    <div class="modal" tabindex="-1" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Compra finalizada con éxito</h5>
            </div>
            <div class="modal-body">
              <p>Recibiras un email con la factura de tu compra.</p>
            </div>
            <div class="modal-footer">
              <button (click)="irAInicio()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ir a Inicio</button>
              <button (click)="seguirComprando()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Seguir comprando</button>
            </div>
          </div>
        </div>
      </div>
</div> -->

<main class="contenedor-principal-loguin">
    <div class="products-container">
        <!-- caja con todo -->
        <div class="login-container">
            <h2>Comprar</h2>
            <div class="carrito-panel">
                <p>hola soy la pasarela de pago</p>
                <button (click)="finalizarCompra()" type="button" class="btn btn-secondary">Finalizar compra</button>
            </div>
        </div>

        <!-- modal -->
        <div class="modal" tabindex="-1" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Compra finalizada con éxito</h5>
                </div>
                <div class="modal-body">
                  <p>Recibiras un email con la factura de tu compra.</p>
                </div>
                <div class="modal-footer">
                  <button (click)="irAInicio()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ir a Inicio</button>
                  <button (click)="seguirComprando()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Seguir comprando</button>
                </div>
              </div>
            </div>
          </div>
    </div>
</main>