<footer>
    <section class="footer" id="footer">
      <div class="footer-box">
        <h2>Haus<span>Mobel</span></h2>
        <p>
          Bienvenido a Haus Mobel - Donde cada mueble cuenta una historia y
          cada rincón tiene un propósito.
        </p>
        <div class="social">
          <a href="#"><i class="bx bxl-facebook"></i></a>
          <a href="#"><i class="bx bxl-twitter"></i></a>
          <a href="#"><i class="bx bxl-instagram"></i></a>
        </div>
      </div>
      <div class="footer-box">
        <h3>Servicios</h3>
        <li><a href="#">Producto</a></li>
        <li><a href="#">Ayuda y Soporte</a></li>
        <li><a href="#">Preguntas Frecuentes</a></li>
        <li><a href="#">FAQ</a></li>
      </div>
      <div class="footer-box">
        <h3>Producto</h3>
        <li><a href="#">Sillas</a></li>
        <li><a href="#">Sillones</a></li>
        <li><a href="#">Banquetas</a></li>
      </div>
      <div class="footer-box contact-info">
        <h3 id="contact">Contacto</h3>
        <span>Avenida 123, Córdoba, Argentina</span>
        <span>+549 1004 0001</span>
        <span>hausmobel&#64;gmail.com</span>
      </div>
    </section>
  </footer>